.u-margin
{
    &-bottom
    {
        &--0
        {
            margin-bottom: 0;
        }

        &--0_375rem
        {
            margin-bottom: .375rem;
        }

        &--0_75rem
        {
            margin-bottom: .75rem;
        }

        &--1_5rem
        {
            margin-bottom: 1.5rem;
        }

        &--2_25rem
        {
            margin-bottom: 2.25rem;
        }

        &--3rem
        {
            margin-bottom: 3rem;
        }
        &--4_5rem
        {
            margin-bottom: 4.5rem;
        }
        &__media
        {
            &_min
            {
                &--48rem-3rem
                {
                    @media screen and (min-width: 48rem)
                    {
                        margin-bottom: 3rem;
                    }
                }
                &--48rem-4_5rem
                {
                    @media screen and (min-width: 48rem)
                    {
                        margin-bottom: 4.5rem;
                    }
                }
            }    
        }
    }

    &-right
    {
        &--0_25rem
        {
            margin-right: .25rem;
        }
        &--0_5rem
        {
            margin-right: .5rem;
        }
        &--0_75rem
        {
            margin-right: .75rem;
        }
        &--1rem
        {
            margin-right: 1rem;
        }
        &--auto
        {
            margin-right: auto;
        }
    }

    &-left
    {
        &--auto
        {
            margin-left: auto;
        }
        &--2_5vw
        {
            margin-left: 2.5vw;
        }
    }

    &--0-auto
    {
        margin: 0 auto;
    }

}