.u-position
{
    &--relative
    {
        position: relative;
    }
    &--absolute
    {
        position: absolute;
    }
    &__top
    {
        &--n5px
        {
            top: -5px;
        }
        &--2px
        {
            top: 2px;
        }
        &--0
        {
            top: 0;
        }
    }
    &__right
    {
        &--0
        {
            right: 0;
        }
        &--n5px
        {
            right: -5px;
        }
        &--n10px
        {
            right: -10px;
        }
    }
}